@using Models;    
@{
    SysAdmin admin= (SysAdmin)Session["CurrentAdmin"];
    string AdminName = User.Identity.Name;

    //获得非直接根目录的中间目录。因为：Url.Ation的参数不能使用变量，无法动态生成权限菜单的Url
    string RootPath = Url.Action("Index", "SysAdmin");
    RootPath = RootPath.Substring(0, RootPath.IndexOf("SysAdmin") - 1);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <!--@Styles.Render("~/Content/bootstrap/css")该语句不能显示-->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/layout/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index","Home",new{})" class="navbar-brand"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">国际</a></li>
                    <li><a href="#">国内</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if(AdminName!=""){
                            <li><a href="@Url.Action("HRManage","SysAdmin",new{})">人员管理</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @AdminName</a></li>
                            <li><a href="@Url.Action("Destroy","SysAdmin",new{})">退出登录</a></li>
                            
                        }
                        else{
                            <li><a href="@Url.Action("Index","SysAdmin",new{})" target="blank">登录</a></li>
                            <li><a href="@Url.Action("Signup","SysAdmin",new{})" target="_blank">注册</a></li>
                        }    
                    }
                </ul>
            </div>
        </div>
    </div>
    <input type="hidden" name="rootpath" id="rootpath" value="@RootPath" />
    @RenderBody()
            
    <div class="footer" id="footer">
        联系我们｜www.858.com All Right Reserve 版权所有
    </div>


</body>
</html>
