<div class="dropdown" id="user">
    <button class="btn btn-primary" data-toggle="dropdown" data-target="#user">
        用户
<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">增加</a></li>
        <li><a href="#">浏览</a></li>
        <li><a href="#">编辑</a></li>
    </ul>
</div>
<div class="dropdown" id="role">
    <button class="btn btn-primary" data-toggle="dropdown" data-target="#role">
        角色
<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Index","Role")">增加</a></li>
        <li><a href="@Url.Action("Browse","Role")">浏览</a></li>
        <li><a href="@Url.Action("AllotGroupsIndex","Role")">分配权限组</a></li>
    </ul>
</div>
<div class="dropdown" id="groups">
    <button class="btn btn-primary" data-toggle="dropdown" data-target="#groups">
        权限组
<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Index","Groups")">增加</a></li>
        <li><a href="@Url.Action("Browse","Groups")">浏览</a></li>
        <li><a href="#">编辑</a></li>
    </ul>
</div>
<div class="dropdown" id="action">
    <button class="btn btn-primary" data-toggle="dropdown" data-target="#action">
        权限
<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("index","Actions")">增加</a></li>
        <li><a href="@Url.Action("Browse","Actions")">浏览</a></li>
        <li><a href="@Url.Action("Index","Right")">权限分配</a></li>
    </ul>
</div>