@using Models;    
@{
    SysAdmin admin= (SysAdmin)Session["CurrentAdmin"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom/layout.css" rel="stylesheet" />
    <link href="~/Content/smoothness/jquery.ui.css" rel="stylesheet" />
    <link href="~/Content/img/eternal.png"rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/custom/applicant-add.css" rel="stylesheet" />
    <link href="~/styles/layout.css" rel="stylesheet" />
    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/jquery.ui.js"></script>
    <script src="~/scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/scripts/jquery.jqprint.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/layout.js"></script>
    <script src="~/scripts/applicant/applicant-add.js"></script>
</head>
<body>
    <div id="container">
        <div id="banner">
            <nav class="navbar navbar-default navbar-fixed-top">
	            <div class="container">
		            <div class="navbar-header">
			            <a href="#" class="navbar-brand"></a>
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
			            </button>
		            </div>
		            <div class="collapse navbar-collapse" id="navbar-collapse">
			            <ul class="nav navbar-nav navbar-right" style="margin-top:0">
				            <li><a href="@Url.Action("ShowAll","Applicant",new{})"><span class="glyphicon glyphicon-th-list"></span> 浏览</a></li>
				            <li><a target="_blank" href="@Url.Action("Index","Applicant",new{})"><span class="glyphicon glyphicon-plus"></span> 增加</a></li>
				            <li><a target="_blank" href="@Url.Action("DeptEmp", "Employee", new{})"><span class="glyphicon glyphicon-fire"></span>雇员</a></li>
				            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @admin.AdminName</a></li>
			            </ul>	
		            </div>
	            </div>
            </nav>
        </div>
        <div id="leftdiv"></div>
        <div id="contentdiv">
            @RenderBody()
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
