@{
    ViewBag.Title = "AllotGroupsIndex";
    Layout = "~/Views/Shared/HRMLayout.cshtml";
}
<style>
    option
    {
        text-align: center;
    }

    .list-group-item
    {
        border-radius: 0px!important;
    }

    .operate
    {
        margin: 10px 0;
    }
</style>
<script src="~/Scripts/Role/role_AllotGroupsIndex.js"></script>
<div class="container-fluid" style="margin-top: 60px;">
    <div class="col-sm-1">
        @Html.Action("PartialRight", "Right")
    </div>
    <div class="col-sm-2">
        <h5 class="list-group-item list-group-heading active">请选择角色：</h5>
        <select size="@ViewBag.ListRole.Count" class="list-group" style="width:100%">
            @{
                if (ViewBag.ListRole != null)
                {
                    foreach (Models.RBAC.Role vo in ViewBag.ListRole)
                    {
                <option class="opt-role list-group-item" title="@vo.Note" value="@vo.Rid">@vo.Title</option>
                    }
                }   
            }
        </select>
    </div>
    <div class="col-sm-4" style="padding: 0;">
        <div class="container" style="width: 100%; padding: 0;">
            <h4>为角色<option id="selected-role" style="display: inline-block; font-weight: 800;"></option>
                分配权限组：</h4>
            <input id="selected-groups" type="hidden" />
            <div style="border-top: 1px solid #0094ff;"></div>
            <div class="col-xs-5">
                <h5 class="list-group-item list-group-heading active">角色的权限组</h5>
                <select id="show-groups" multiple="multiple" class="list-group" style="width: 100%"></select>
            </div>
            <!-- -->
            <div class="col-xs-2" style="padding: 0px;">
                <button id="GroupsToRole" class="btn btn-success operate">< 添加</button>
                <button id="RemoveGroups" class="btn btn-warning operate">移去 ></button>
            </div>
            <!-- -->
            <div class="col-xs-5">
                <h5 class="list-group-item list-group-heading active">全部权限组</h5>
                <select multiple="multiple" class="list-group" style="width: 100%" size="@ViewBag.ListGroups.Count">
                    @{
                        if (ViewBag.ListGroups != null)
                        {
                            foreach (Models.RBAC.Groups vo in ViewBag.ListGroups)
                            {
                        <option class="opt-groups list-group-item" title="@vo.Note" value="@vo.Gid">@vo.Title</option>
                            }
                        }   
                    }
                </select>
            </div>
        </div>

    </div>
    <!--权限分配-->
    <div class="col-sm-4" style="padding: 0;">
        <div class="container" style="width: 100%; padding: 0;">
            <h4>为权限组<option id="selected-group" style="display: inline-block; font-weight: 800;"></option>分配权限：</h4>
            <input id="selected-action" type="hidden" />
            <div style="border-top: 1px solid #0094ff;"></div>
            <div class="col-xs-5">
                <h5 class="list-group-item list-group-heading active">权限组包括的权限</h5>
                <select id="show-actions" multiple="multiple" class="list-group" style="width: 100%"></select>
            </div>
            <!-- -->
            <div class="col-xs-2" style="padding: 0px;">
                <button id="ActionsToGroups" class="btn btn-success operate">< 添加</button>
                <button id="RemoveActions" class="btn btn-warning operate">移去 ></button>
            </div>
            <!-- -->
            <div class="col-xs-5">
                <h5 class="list-group-item list-group-heading active">全部权限</h5>
                <select multiple="multiple" class="list-group" size="@ViewBag.ListActions.Count" style="width: 100%">
                    @{
                        if (ViewBag.ListActions != null)
                        {
                            foreach (Models.RBAC.Actions vo in ViewBag.ListActions)
                            {
                        <option class="opt-actions list-group-item" value="@vo.Actid">@vo.Title</option>
                            }
                        }   
                    }
                </select>
            </div>
        </div>
    </div>
</div>